body{
	margin: 0; padding: 0;
	font: 13px normal verdana, arial, tahoma;
}

.clearfix{ clear: both; margin: 0; padding: 0; }
.btn{
    border: medium none;
    display: inline-block;
    color: #CCC;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 11px;
    font-size: 14px;
    cursor: pointer;
}
.btn.default{
	background-color: #A8AFB4;
	color: #000;
}
.btn.primary{ background-color: #183A5E; }

#popup{
	display: none;
	z-index: 6;
	position: fixed;
	border-radius: 8px;
	box-shadow: 2px 2px 10px #333;
	background-color: #fff;
	border: 5px solid #DF4D00;
}
#popup .header{
	background-color: #DF4D00;
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 4px 0;
}
#popup .header .close-button{
	float: right;
	color: #fff;
	display: inline-block;
	line-height: 0;
	padding: 8px;
	margin-top: -4px;
}
#popup .header .caption{ margin-left: 10px; }
#popup .header .caption > i{ margin-right: 10px; }
#popup .content{ padding: 12px 14px; font-size: 13px; }
#popup .footer{
	padding: 0 13px;
	margin: 10px 0 10px;
}
#popup .footer .positive{ float: right; }
#popup .footer .negative{ float: left; }